__pycache__
*.bat
*.log
.vscode

# Enviroment
discordpy

# Don't commit this .json
nao_showtimes.json
fansubrss.json
config.json
prefixes.json
vote_data.json
streaming_lists.json

# webhost
webhost/rute/modul/*.jpg
webhost/rute/modul/*.png
webhost/rute/modul/*.json
