{
    "bot_token": "",
    "default_prefix": "!",
    "vndb": {
        "username": "",
        "password": ""
    },
    "nyaasi": {
        "username": "",
        "password": ""
    },
	"mongodb": {
		"ip_hostname": "localhost",
		"port": 13307,
        "dbname": "naotimesdb",
        "tls": false,
        "auth": null
	},
    "kbbi": {
        "email": "",
        "password": "",
    },
    "fansubdb": {
        "username": "",
        "password": ""
    },
	"weather_data": {
		"openweatherapi": "",
		"opencageapi": ""
	}
}