{
    "bot_token": "",
    "default_prefix": "!",
    "github_info": {
        "username": "",
        "personal_access_token": ""
    },
    "gist_id": "",
    "vndb": {
        "username": "",
        "password": ""
    },
    "nyaasi": {
        "username": "",
        "password": ""
    },
	"mongodb": {
		"ip_hostname": "localhost",
		"port": 13307,
		"dbname": "naotimesdb",
        "skip_fetch": false
	},
    "kbbi": {
        "email": "",
        "password": "",
        "skip_check": true
    },
    "fansubdb": {
        "username": "",
        "password": ""
    }
}